body {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 64, 0.1))), url("../img/bg.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.65)), url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}